<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.events">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2.autofocus" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".model.Activitys.SucessValidation" />
        <activity android:name=".model.Activitys.ErrorValidation" />
        <activity android:name=".model.Activitys.Settings" />
        <activity android:name=".model.Activitys.DigitarQrCode" />
        <activity android:name=".model.Activitys.WelcomeSplash" />
        <activity android:name=".model.Activitys.Home" />
        <activity android:name=".model.Activitys.ListaEventosActivity" />
        <activity android:name=".model.Activitys.QrCodeActivity" />
        <activity android:name=".model.Activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model.Activitys.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>