<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.events">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera2.autofocus"/>
    <uses-feature android:name="android.hardware.camera2" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"

        android:usesCleartextTraffic="true">
<!--        <activity android:name="com.example.events.model.Activitys.SucessValidation" />-->
<!--        <activity android:name="com.example.events.model.Activitys.ErrorValidation" />-->
<!--        <activity android:name="com.example.events.model.Activitys.Settings" />-->
<!--        <activity android:name="com.example.events.model.Activitys.DigitarQrCode" />-->
<!--        <activity android:name="com.example.events.model.Activitys.WelcomeSplash" />-->
<!--        <activity android:name="com.example.events.model.Activitys.Home" />-->
<!--        <activity android:name="com.example.events.model.Activitys.ListaEventosActivity"/>-->
<!--        <activity android:name="com.example.events.model.Activitys.QrCodeActivity" />-->
<!--        <activity android:name="com.example.events.model.Activitys.SplashActivity">-->

        android:name=".cod.EventsApplication">
        <activity android:name="com.example.events.cod.Activitys.SucessValidation" />
        <activity android:name="com.example.events.cod.Activitys.ErrorValidation" />
        <activity android:name="com.example.events.cod.Activitys.Settings" />
        <activity android:name="com.example.events.cod.Activitys.DigitarQrCode" />
        <activity android:name="com.example.events.cod.Activitys.WelcomeSplash" />
        <activity android:name="com.example.events.cod.Activitys.Home" />
        <activity android:name="com.example.events.cod.Activitys.ListaEventosActivity"/>
        <activity android:name="com.example.events.cod.Activitys.QrCodeActivity" />
        <activity android:name="com.example.events.cod.Activitys.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.events.cod.Activitys.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>